//- //- views/emails/passwordReset.pug
//- doctype html
//- html
//-   head
//-     meta(charset='UTF-8')
//-     title= subject
//-   body
//-     p Hi #{firstName},
//-     p Forgot your password? Submit a PATCH request with your new password to:
//-     p
//-       a(href=`${url}`)= url
//-     p (Link valid for 10 minutes)
//-     p If you didn't forget your password, please ignore this email!

doctype html
html
  head
    meta(charset='UTF-8')
    title= subject
  body
    h1 Hello #{firstName},
    p You requested a password reset. Click the link below to reset your password:
    a(href=url) Reset Password
    p This link is valid for 10 minutes.
    p If you didn't request this, please ignore this email.